<!DOCTYPE html>
<html>
<head>
  <title>Compose</title>
<link rel="stylesheet" href="\css\style.css  ">
</head>
<body>
  <h1>Compose New Post</h1>

  <form action="/compose" method="POST">
    <input id="titleBox" type="text" name="postTitle" placeholder="Title" required>
    <br><br>
    <textarea name="postBody" rows="10" cols="30" placeholder="Your post content" required></textarea>
    <br><br>
    <button type="submit">Publish</button>
  </form>
<br>
  <a id="back" href="/">Back to Home</a>
</body>
</html>
