<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="\css\style.css  ">
</head>
<body>
    <h1>Blog Home</h1>
        <a id="new"  href="/compose" target="_blank">+</a>
    <% posts.forEach(function(post){ %>
        <div id="blog">
            <h2><%= post.title %></h2>
            <p><%= post.content.substring(0, 49) %>...</p>
            <a href="/posts/<%= post._id %>"> Read more </a>
        </div>
        <hr>
    <% }); %> 

</body>
</html>